body {
    margin: 0;
    font-family:  Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
  font-family:  Helvetica, Arial, sans-serif;

}
  
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
  
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 12px; /* Slightly more rounded corners */
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
  min-width: 350px;
  /* Prevent excessive width on large screens */
  max-width: 400px; 
}

.popup-content h4 {
  margin-top: 0; /* Remove default top margin */
  margin-bottom: 15px;
  text-align: center; /* Center the title */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  font-size: 14px;
}

.form-group textarea {
  resize: vertical; /* Allow vertical resizing */
  min-height: 60px;
}

.char-counter {
  text-align: right;
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px; 
}


.button-group button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: background-color 0.2s ease;
}

.save-button {
  background-color: #28a745;
  color: black;
}

.save-button:hover {
  background-color: #218838;
}

.cancel-button {
  background-color: #6c757d;
  color: black;
}

.cancel-button:hover {
  background-color: #5a6268;
}












/* Button container */
.popup-buttons {
  display: flex; /* Arrange buttons horizontally */
  justify-content: flex-end; /* Align buttons to the right */
  gap: 30px; /* Space between buttons */
  margin-top: 20px; /* Space above the buttons */
  justify-content: center; 
}

/* General button styling */
.popup-content button {
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  text-align: center; /* Center the text within the button */
  flex-basis: 0; /* Ensure flex-grow works correctly */
  /* Limit maximum width */
  max-width: 150px; 
  flex-grow: 1; /* Prevent buttons from growing beyond their content/max-width */
  min-width: 100px;
  min-height: 53px;
  
}

.popup-content button:hover {
  background-color: #e0e0e0;
}

/* Specific styling for cancel button (optional) */
.popup-buttons button:last-child {
  background-color: #eee;
}
.popup-buttons button:last-child:hover {
  background-color: #ddd;
}

  